*{
  margin: 0;
}

body {
  background-color: #1f2039;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  font-size: 1.1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: white;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

nav {
  margin: 5px;
  padding: 5px;
}

main {
  justify-content: center;
  margin: auto;
}

section {
  padding-left: 80px;
   
}

p,
h2,
ul {
  color: #f9f8ff;
  margin-top: 10px;
}

.competences {
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
  padding: 20px;
  margin-bottom: 30px;
}

.cta {
  background: linear-gradient(90deg, #acaeed, #8e86b5);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 50px;
  padding: 10px;
}

.cta:hover {
  background: linear-gradient(90deg, #696484, #8788ba);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 50px;
}

footer {
  background-color: white;
  padding: 20px 50px 20px 50px;
}

#fondicone:hover {
  opacity: 0.5;
}

/*.monimage{
    background-color: #1F2039;
    height: 450px;
    box-shadow: 6px 5px 50px rgb(244, 244, 247, 0.5);
    opacity:0.78;
}*/

.a_props_introduction {
  padding: 80px;
  width: 650px;
  margin: auto;
  /* pour centrer la sction de la page a_propos */
}

.accueil_introduction {
  padding: 80px;
}

.contenaire {
  width: 670px;
  margin: auto;
  padding: 50px;
  display: flex;
  gap: 20px;
}

.monimage { 
  width: 350px;
  height: auto;
  
}

.ecrivez {
  width: 670px;
  margin: auto;
  margin-top: -100px;
}

/* Rendre la page accueil adaptative aux écrans */

@media screen and (max-width: 990px) {
  .contenaire {
    width: 460px;
    height: auto;
    gap: 20px;
    padding: 10px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }

  .ecrivez {
    width: 505px;
    margin: auto;
    margin-top: 0;
  }

  .monimage { 
  width: 150px; 
  height: 250px; 
}

.accueil_introduction {
  padding-bottom: 110px;
}
   
}


@media screen and (max-width: 631px) {
  .contenaire {
    width: 290px;
    height: auto;
    display: flex;
    gap: 5px;
    margin-left: -40px;
  }


  .monimage { 
  width: 90px;  
  height: 150px;
}
  em {
      color: #a5b4fc;
    }
    
    h1 {
      font-size: 1.5em;
      color: #a5b4fc;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    
    p {
      font-size: 0.8em;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    section {
      padding: 80px;
      width: 90px; 
      
    }
}

/* Rendre la page contact adaptative aux écrans */

@media screen and (max-width: 890px) {
  .competences {
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
    
    padding: 20px;
    margin-bottom: 30px;
  }

  .a_props_introduction {
    padding: 50px;
    width: 450px;
    margin: auto;
    /* pour centrer la sction de la page a_propos */
  } 
}

@media screen and (max-width: 590px) {
  .competences {
    border-right: 1px solid #a5b4fc;
    border-bottom: 1px solid #a5b4fc;
    border-top: 1px solid #a5b4fc;
    padding: 20px;
    margin-bottom: 30px;
  }

  .a_props_introduction {
    padding: 50px;
    width: 350px;
    margin: auto;
    /* pour centrer la section de la page a_propos */
  } 

  h1 {
    font-size: 1.5em;
    color: #a5b4fc;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  p {
    font-size: 0.8em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}

 

 